.advertisement {
  width: 1180px;
  height: 332px;
  margin-bottom: 80px;
  background-image: url('../img/bg_advertisement.png');
  background-size: 1180px 332px;

  > {
    em {
      display: block;
      width: 524px;
      height: 80px;
      padding: 92px 328px 30px 328px;
      text-align: center;
      font: normal 700 32px "ReadexPro";
      color: #fff;
    }

    button {
      display: block;
      width: 122px;
      height: 38px;
      margin: 0px auto;
      border-radius: 50px;
      font: normal 700 14px 'ReadexPro';
      text-align: center;
      background-color: #fec042;
    }
  }
}