/* header */
header {
  width:100%;
  min-width:1440px;
  background-color: #fff9ea;
  justify-content: center;
}

header > div {
  width:1440px;
  height:108px;
  margin:0px auto;
}

.header-let-us-food {
  width:167px;
  height:47px;
  margin: 29px 129px 32px 141px;

}

.header-let-us-food > a{
  font: normal 600 24px 'ReadexPro-SemiBold', sans-serif;
  line-height: 32px;
  align-items: flex-end;
}

.header-let-us-food > a > img {
  margin-left:4px;
}

.header-menu {
  width: 570px;
  height: 37px;
  margin:34px 0px 37px 0px;
  justify-content: space-between;
}
.header-menu > a {
  font: normal 500 22px 'ReadexPro-SemiBold', sans-serif;
}

.search-ico > img{
  width:26px;
  height:26px;
  margin:39px 31px 41px 73px;
}

.shopping-ico {
  position: relative;
}

.shopping-alarm {
  position: absolute;
  width:12px;
  height:12px;
  top:35px;
  right:-4px;
  background-color: #ffcb45;
  border-radius: 50%;
  font : normal 10px 'ProdexPro', sans-serif;
  text-align: center;
  line-height: 12px;
}

.shopping-ico > img{
  width:24px;
  height:25px;
  margin:39px 0px 44px 0px;
}

.sign-in {
  width:122px;
  height:38px;
  margin:33px 130px 37px 33px;
  background-color: #ffcb45;
  border:0px;
  border-radius: 50px;
  font:normal 700 14px 'ReadexPro-Bold', sans-serif;
  justify-content: center;
  align-items: center;
}

.sign-in img {
  width:16px;
  height:18px;
  margin-right:16px 
}

/* header hover */

/* hover (공부필요) */
.header-menu > a:hover {
  color: #1d1d1d;
  background-image: linear-gradient(#ffcb45, #ffcb45);
  background-size: 0% 5px;
  background-repeat: no-repeat;
  transition: background-size 0.3s;
}

.header-menu > a {
  color:#615f5a;
  background-image: linear-gradient(#ffcb45, #ffcb45);
  background-size: 0% 5px;
  background-repeat: no-repeat;
  transition: background-size 0.5s;
  background-position: 0 100%;
}

.header-menu a:hover {
  background-size: 100% 5px;
  color: #1d1d1d;
}

.header-menu > a {
  color:#615f5a;
}