/* Be The Fastest In Delivery Your Food */

.home {
  width:100%;
  height:601px;
  background-color: #fff9ea;
  background-image:   
  url('../img/bg_wavy_line.png'),
  url('../img/bg_wavy_line.png');
  background-position: 
  left 491px,
  left 528px; 
  background-repeat: no-repeat;
}

.home-content {
  width:1440px;
  height:601px;
  margin:0 auto;
  background-image:
  url('../img/bg_home.png'),
  url('../img/bg_circle.png'),
  url('../img/bg_circle.png'),
  url('../img/bg_circle.png'),
  url('../img/bg_circle.png');
  background-size:
  500px 589px,
  41px, 
  54px,
  19px,
  74px;
  background-position: 
  810px 12px,
  734px 462px,
  810px 52px,
  854px 237px,
  1220px 249px;
  background-repeat: no-repeat;
}
.home-title {
  width:480px;
  height:120px;
  padding:176px 0px 0px 130px;
  font:600 48px "ReadexPro", sans-serif;
  line-height: 60px;
  letter-spacing: 1px;
}

.home-title > i {
  color:#ffcb45;
}

.home-main-text {
  width:370px;
  height:46px;
  margin:22px 0px 22px 135px ;
  font:normal 400 18px "ReadexPro", sans-serif;
  color:#615f5a;
}

.home-start-btn {
  width:122px;
  height:38px;
  font:0 0 0 135px;
  margin:0 0 0 135px;
  background-color: #ffcb45;
  border-radius: 20px;
  font:normal 800 14.5px 'Inter-Medium';
}