/* our menu */

.menu > li {
  width:280px;
  height:371px;
  background-color: #f1f1f1;
  border-radius: 10px;
  filter: drop-shadow(2px 5px 12px rgba(0, 0, 0, 0.15));
}

.menu-large-container > img {
  width:230px;
  height:230px;
  margin:13px 25px;
}

.menu-large-container:nth-child(4) img {
  margin:15px 12px 13px 38px;
}

/* 똑같이 못만들겠음 */
.menu-small-container {
  width:280px;
  height:112px;
  background-color: #fff;
  border-top-left-radius: 50% 27px;
  border-top-right-radius: 50% 27px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menu-contents {
  width:236px;
  height:85px;
  padding:14px 22px;
}

.menu-contents > b {
  width:108px;
  height:25px;
  font:normal 500 20px "ReadexPro-SemiBold";
  margin-bottom:5px;
}

.menu-contents > p {
  width:114px;
  height:19px;
  margin:0 auto;
  margin-bottom: 13px;
  font:normal 400 18px "ReadexPro";
  color: #1d1d1d;
}

.cost {
  width:96px;
  height:23px;
  float:left;
  text-align: left;
  line-height: 23px;
  font:normal 500 22px "ReadexPro-SemiBold";
}

.like {
  width:24px;
  height:24px;
  float:right;
  content: url('../img/img_heart_unseleted.png');
  cursor: pointer;
}

input:checked + .like {
  width:24px;
  height:24px;
  content: url('../img/img_heart_selected.png');
  cursor: pointer;
}

.more-menu {
  width:136px;
  height:40px;
  background-color: #ffcb45;
  font:normal 700 14px "ReadexPro";
  border-radius: 50px;
}