.review {
  width: 452px;
  height: 210px;
  margin-right: 24px;
  background-color: #f1f1f1;
  border-radius: 10px;
  transition: .5s;

  > p {
    margin: 0px 20px 29px;
    font: normal 400 18px "ReadexPro";
    color: #676767;
  }
}

.profile {
  width: 218px;
  height: 60px;
  padding: 28px 218px 24px 20px;

  > {
    img {
      width: 59px;
      height: 60px;
      float: left;
      border-radius: 50%;
    }

    em {
      width: 140px;
      height: 21px;
      margin-left: 19px;
      margin-bottom: 11px;
      font: normal 500 20px "ReadexPro";
    }
  }
}