.star-container{
  display: flex;
  width:134px;
  height:24px;
  position:relative;
  top:11px;
  left:18px;
  background-image:url("../img/img_star_empty.png");
  background-size: 134px;
  background-repeat: no-repeat;
  font-size:0;
}

.star-container .star{
  display:block;
  position:absolute;
  width:134px;
  height:24px;
  top:0px;
  left:0px;
  background-image:url("../img/img_star_full.png");
  background-size: 134px;
  background-repeat: no-repeat;
}

.star-container .label-star{
  position: relative;
  display:inline-block;
  width:14px;
  height:24px;
  box-sizing:border-box;
  z-index: 1;
}

.star-container .star-radio{
  opacity:0;
  width:0;
  height:0;
  position:absolute;
}

.star-container .star-radio:nth-of-type(1):hover ~ .star,
.star-container .star-radio:nth-of-type(1):checked ~ .star{width:9.5%;}

.star-container .star-radio:nth-of-type(2):hover ~ .star,
.star-container .star-radio:nth-of-type(2):checked ~ .star{width:20%;}

.star-container .star-radio:nth-of-type(3):hover ~ .star,
.star-container .star-radio:nth-of-type(3):checked ~ .star{width:30%;}

.star-container .star-radio:nth-of-type(4):hover ~ .star,
.star-container .star-radio:nth-of-type(4):checked ~ .star{width:40%;}

.star-container .star-radio:nth-of-type(5):hover ~ .star,
.star-container .star-radio:nth-of-type(5):checked ~ .star{width:50.5%;}

.star-container .star-radio:nth-of-type(6):hover ~ .star,
.star-container .star-radio:nth-of-type(6):checked ~ .star{width:60%;}

.star-container .star-radio:nth-of-type(7):hover ~ .star,
.star-container .star-radio:nth-of-type(7):checked ~ .star{width:71.25%;}

.star-container .star-radio:nth-of-type(8):hover ~ .star,
.star-container .star-radio:nth-of-type(8):checked ~ .star{width:80%;}

.star-container .star-radio:nth-of-type(9):hover ~ .star,
.star-container .star-radio:nth-of-type(9):checked ~ .star{width:91%;}

.star-container .star-radio:nth-of-type(10):hover ~ .star,
.star-container .star-radio:nth-of-type(10):checked ~ .star{width:100%;}

.blind{
  position:absolute;
  clip:rect(0 0 0 0);
  margin:-1px;
  width:1px;
  height: 1px;
  overflow:hidden;
}